.selectbox-group{
    display: flex;
    justify-content:space-between;
}

.selectbox-group:not(:last-child){
    margin-bottom: 10px;
}

.label{
    margin-right: 16px;
}

.selectbox{
    width: 100px;
}